.capa{
    text-align: center;
    font-weight: bold;

    background-image: url(../img/paisagem.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.capa img{
    max-width: 300px;
}

.capa h1{
    margin-top: -10px;
    font-weight: 15pt;
    color: #36A5E2;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #ffffff;
}

.capa h3{
    margin-top: -13px;
    color: #ffffff;
}

#tTitulo{
    color: #36A5E2;
}



@media(max-width: 600px)
{
  

    
}